*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "shabnam", sans-serif;
    background-color: #f5f4f7;
    position: relative;
}

button{
    cursor: pointer;
    border: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: 'zeytoon';
    src: url('../fonts/Zeytoon.ttf') format('opentype');
}

@font-face {
    font-family: 'shabnam';
    src: url('../fonts/Shabnam-FD.woff2') format('opentype');
}

@font-face {
    font-family: 'fani';
    src: url('../fonts/Far.Fanni.ttf') format('opentype');
}

.bigBG{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg3.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoImg{
    width: 300px;
}

/* .wBtn{
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: #af894f7d 3.95px 2.95px 2.6px;
} */

.languageBtns{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.languageBtnSingle{
    width: 250px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-shadow: #af894f7d 3.95px 2.95px 2.6px;
}

.languageBtnSingle img{
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.languageBtnSingle span{
    font-size: 14px;
    color: #ffffff;
    font-family: 'shabnam';
}

.seprator{
    width: 70%;
    margin-top: 25px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.singleSocial img{
    width: 40px;
}

/* --------- */

.topContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.topImg{
    width: 100%;
    height: 250px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.topImg img{
    width: 100%;
    height: 100%;
}

.mainMenuCountainer{
    width: 100%;
    min-height: 437px;
    top: 230px;
    position: relative;
    z-index: 2;
    background-color: #fffcfc;
    border-radius: 27px 27px 0 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding-bottom: 75px;
}

.menuContainer{
    width: 100%;
    min-height: 437px;
    background-color: #fffcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.singleMenuFood{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-color: #f7f7f7;
    padding: 7px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.singleTop{
    width: 100%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.foodImg{
    width: 120px;
    height:100%;
    border-radius: 15px;
}

.foodTitle{
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.singleBotton{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foodBtn{
    width: 120px;
    height: 30px;
    margin-left: 7px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #D7D9EB;
    color: #080e3a;
}


.foodBtn img{
    width: 12px;
    height: 12px;
    margin-top: -2px;
}

.foodName{
    font-size: 22px;
    font-family: 'zeytoon';
}

.foodDes{
    font-size: 14px;
    color: #7a7a7a;
}

.foodPrice{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuType{
    max-width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: scroll;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.singleMenuType{
    min-width: 120px;
    height: 100%;
    border: 1px solid #dddddd;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #7a7a7a;
    transition: all 100ms ease-in-out;
    background-color: transparent;
}

.singleMenuType.active{
    border: none;
    border-bottom: 3px solid #080e3a;
    color: #080e3a;
}

#BMBTN3{
    position: relative;
}

.cartNum{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #080e3a;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

#cartCount{
    font-size: 10px;
}

/* ----------------- */

.topLogoCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.longLogoBtn{
    width: 40px;
    height: 40px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 15px;
}

.topLongLogo{
    width: 180px;
}

.homeBanner{
    width: 100%;
    height: 150px;
    padding: 15px;
}

.nvdjcnd{
    width: 100%;
    height: 100%;
    background-color: #080e3a;
    border-radius: 25px;
}

.nvdjcnd img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.homeCatagoire{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    row-gap: 15px;
}

.homeCatagoireSingle{
    width: 48%;
    height: 150px;
    background-color: #020331;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 12px;
}

.homeCatagoireSingle img{
    width: 55%;
}

.homeCatagoireSingle span{
    font-size: 24px;
    color: #af884f;
    font-family: 'fani';
    text-shadow: 2px 2px 0px #7a1025;
}

/* ----------------- */

.cartContainer{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 210px;
}

.TPrice{
    width: 100%;
    height: 140px;
    position: fixed;
    bottom: 59px;
    background-color: #f5f4f7;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 15px;
}

.TPTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.singleTPTxt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.STPNum{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.TPBTN{
    width: 100%;
    height: 40px;
    background-color: #080e3a;
    border-radius: 7px;
    color: #af884f;
    font-size: 18px;
    margin-top: 15px;
}

.bottonMenu.blank{
    box-shadow: none;
}

.deskTopCont{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
}

.deskTopBg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.deskTopLinks{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    font-size: 14px;
    position: absolute;
    top: 32px;
    right: 12%;
}

.singleDeskTopLink{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #af884f;
    border-radius: 7px;
    color: #af884f;
    transition: all 250ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.singleDeskTopLink::after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), #ffffff80 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(120deg) translate(-5em, 7.5em);
}

.singleDeskTopLink:hover::after{
    animation: sheen 0.7s ease-in-out;
}

.singleDeskTopLink:hover{
    background-color: #af894fc4;
    color: #f7f7f7;
}

@keyframes sheen {
    100% {
        transform: rotateZ(120deg) translate(1em, -9em);
    }
}

.deskTopbtn{
    width: 270px;
    height: 40px;
    background-color: #af884f;
    color: #ffffff;
    position: absolute;
    bottom: 157px;
    right: 10.5%;
    border-radius: 7px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline: 2px solid #af884f;
    border: 3px solid #ffffff;
    transition: all 250ms ease-in-out;
}

.deskTopbtn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.deskTopbtn i{
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(1.5px);
    }

    50% {
        transform: translateY(-1.5px);
    }

    100% {
        transform: translateY(1.5px);
    }
}

.deskGridCont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.deskGridContTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 24px;
    color: #080e3a;
}

.deskGridContTitleSep{
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,rgba(50, 125, 230, 0) 0%, rgba(8, 14, 58, 1) 25%, rgba(8, 14, 58, 1) 50%, rgba(8, 14, 58, 1) 75%, rgba(102, 252, 241, 0) 100%);
    border-radius: 50%;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: 25px;
}

.item{
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    background-color: #080e3a;
}

.itemShade{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(8, 14, 58, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 2;
}

.item:hover{
    .itemShade{
        background-color: rgba(8, 14, 58, 0.7)
    }
}

.item1 { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 2 / 1 / 3 / 2; }
.item3 { grid-area: 3 / 1 / 4 / 2; }
.item4 { grid-area: 3 / 2 / 4 / 3; }
.item5 { grid-area: 3 / 3 / 4 / 4; }
.item6 { grid-area: 1 / 2 / 3 / 4; }
.item7 { grid-area: 1 / 4 / 2 / 5; }
.item8 { grid-area: 2 / 4 / 4 / 5; }

.itemMainBg{
    transition: all 500ms ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.item:hover{
    .itemMainBg{
        transform: scale(1.1);
    }
}

.itemMainTitle{
    color: #ffffff;
    font-size: 24px;
    font-family: 'zeytoon';
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    border-radius: 25px 0 25px 0;
    transition: all 500ms ease-in-out;
    background-color: #af884f;
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLogo{
    width: 80px;
    height: 80px;
}

.navbarMenu{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 40px;
    gap: 70px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navLinks{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    font-size: 14px;
}

.menuCatagories{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
    margin-top: 25px;
}

.menuCatBtn{
    width: calc(100% / 12);
    height: 120px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: transparent;
    border-radius: 15px;
    color: #080e3a;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-family: 'zeytoon';
    transition: all 250ms ease-in-out;
}

.menuCatBtn img{
    width: 60px;
}

.menuCatBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.menuCatBtn.active{
    background-color: #e4dfd6  ;
    color: #3e2f1c  ;
}

.mainMenuAndCart{
    width: 100%;
    height: 100%;
    margin-top: 25px;
    position: relative;
}

.mainCartContainer{
    width: 30%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 35px;
    top: 0;
}

.mainCartTop{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.submitSegfaresh{
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background-color: #af884f;
    color: #ffffff;
}

.mainCartOrders{
    width: 100%;
    height: 170px;
    border: 10px solid #ffffff;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    padding: 10px;
    gap: 7px;
}

.mainCartWaySend{
    width: 100%;
    height: 80px;
    border-radius: 0 0 25px 25px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.mainCartSendSingle{
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border: 1px solid #af884f;
    font-size: 14px;
    border-radius: 7px;
}

.mainCartSendSingle img{
    width: 25px;
}

.emptyOrder{
    width: 100%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c2cad3;
    gap: 7px;
    margin-top: 40px;
}

.emptyOrder img{
    width: 100px;
    opacity: 0.5;
}

.mainCartPrice{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: #ffffff;
}

.mainCartPriceVal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.maincartPriceValTitle{
    font-size: 12px;
    color: #a1a1a1;
}

.mainCartPriceValue{
    font-size: 22px;
}

.mainCartPriceValueSec{
    font-size: 12px;
}

.mainCartPriceBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.mainCartPriceBtnSingle{
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background-color: #e9e9e9;
}

.cartOrderSingle{
    width: 100%;
    min-height: 60px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.cartOrderSingleRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 14px;
}

.cartOrderSingleRight img{
    width: 30px;
}

.singleOrderDel{
    width: 100px;
    height: 35px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #dd1f21;
    background-color: #ffe4e4;
}

.listMenuCont{
    width: 64%;
    position: absolute;
    left: 35px;
    top: 0;
    min-height: 390px;
    border-radius: 25px;
    padding: 0 15px;
}

.listMenuSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listMenuSecTitle{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.listMenuSecTitleLine{
    width: 100%;
    height: 1px;
    background-color: #a7a7a7;
}

.listMenuSecTitleTxt{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: absolute;
    right: 40px;
    background-color: #f5f4f7;
    color: #a7a7a7;
}

.listMenuMainContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.listMenuMainsingle{
    width: calc(100% / 3.1);
    height: 300px;
    background-color: transparent;
    border-radius: 25px;
    position: relative;
}

.listMenuSingleTxt{
    width: 100%;
    position: absolute;
    height: 80%;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 0 15px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.listMenuSingleImg{
    width: 140px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 0;
    z-index: 2;
    filter: drop-shadow(0px 12px 9px #cccccc);
}

.listMSTTitle{
    font-family: 'zeytoon';
    font-size: 20px;
}

.listMSTDesc{
    font-size: 12px;
    color: #a7a7a7;
}

.listMSTTags{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
}

.listMSTTagsSingle{
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    border: 1px solid #af884f;
    border-radius: 10px;
}

.listMSTTagsSingle img{
    width: 20px;
}

.listMSTPrice{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.listMSTPriceVal{
    font-size: 12px;
}

.listMSTPriceVal span{
    font-size: 20px;
}

.listMSTPriceBtn{
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    background-color: #fef2de;
    color: #af884f;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.TEMP{
    background-color: #ffffff;
}

.TempImg{
    width: 100%;
    height: 50%;
    border-radius: 25px 25px 0 0;
}

.TEMPTXT{
    padding-top: 0;
    height: 60%;
}