@media (min-width: 1200px) {
    .loginContainer{
        width: 90%;
        height: 90vh;
        border-radius: 40px;
        right: 50%;
        transform: translateX(50%);
        top: 33px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .loginButtons{
        display: none;
    }
    .forgetPassForm{
        bottom: 0;
        width: 45%;
        height: 100%;
        border-radius: 40px;
        overflow: hidden;
    }
    .forgetPassMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .forgetPassfirst , .forgetPassSec{
        justify-content: center;
        width: 80%;
        gap: 15px;
    }
    .loginLogo , .loginTexts{
        right: 70%;
    }
    .loginLogo{
        top: 40%;
    }
    .loginTexts{
        top: 70%;
    }

    /* HOME */

    .bottomMenu , .topMenu , .settingTop , .settingMainContainer , .topSiteBanners 
    , .khadamatAndBanner , .invContaoner , .topprofcont , .pointProgress , .pointUse{
        display: none;
    }

    .mainBigContainer{
        width: calc(100% - 300px);
        height: calc(100% - 75px);
        margin-right: 300px;
        margin-top: 75px;
    }

    .homeContainer , .profContainer , .walletContainer , .settingContainer{
        padding-top: 15px;
    }

    .pointContainer{
        padding-top: 0;
    }

    /* @ PROFILE @ */

    .profOpt , .profTop{
        display: none;
    }

    /* @ WALLET @ */

    .topWalCont , .walletBtnContainer{
        display: none;
    }

    .chartContainer{
        height: 260px;
    }

    .card{
        width: 100%;
        height: 253px;
        background-color: transparent;
        border-radius: 15px;
        padding: 15px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .card .statistic{
        width: 100%;
        height: 90%;
    }

    .line1Num , .line2Num ,.line3Num ,.line4Num ,.line5Num{
        color: #c6c6c6;
        font-size: 14px;
    }

    .card .days {
        width: 92%;
        margin-right: 0px;
    }
    
    .card .days .day{
        color: #c6c6c6;
        font-size: 12px;
        width: calc(100% / 10);
    }

    .card .statistic .data polyline{
        stroke: aqua;
    }

    .card .statistic .line-1 , .card .statistic .line-2 , .card .statistic .line-3 , .card .statistic .line-4 , .card .statistic .line-5{
        background-color: #eaeaea;
        width: 92%;
    }

    .card .statistic .line-5{
        top: 200px;
    }

    .card .statistic .line-2{
        top: 65px;
    }

    .line2Num{
        top: 56px;
    }

    .card .statistic .line-3{
        top: 110px;
    }

    .line3Num{
        top: 102px;
    }

    .card .statistic .line-4{
        top: 155px;
    }

    .line4Num{
        top: 146px;
    }

    .line5Num{
        top: 192px;
    }

    .card .statistic .data svg {
        height: 100%;
        width: 100%;
    }

    .settingContainer{
        padding: 15px;
        flex-direction: row;
        gap: 15px;
    }
}

@media (max-width: 920px) {
    .singleBannerSub , .navBar , .sideBarCont , .WBCSingleSub
    , .proTopDesk , .proBottomDesk , .newWalletCont , .settingLeftContainer
    ,.settingRightContainer , .mainInvDesk{
        display: none;
    }
}