*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'zeytoon';
    src: url('../fonts/Zeytoon.ttf') format('opentype');
}

@font-face {
    font-family: 'shabnam';
    src: url('../fonts/Shabnam-FD.woff2') format('opentype');
}

@font-face {
    font-family: 'fani';
    src: url('../fonts/Far.Fanni.ttf') format('opentype');
}

@font-face {
    font-family: 'fanavari';
    src: url('../fonts/Fanavari\ Regular.ttf') format('opentype');
}

body {
    overflow-x: hidden;
    font-family: "shabnam", sans-serif;
    background-color: #ffffff;
    position: relative;
}

button{
    cursor: pointer;
    border: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

button{
    font-family: 'shabnam';
}

.siteTop{
    width: 100%;
    height: 100vh;
    position: relative;
}

.siteTopBgImg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.navbar{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    padding-top: 15px;
}

.navLogo{
    height: 60px;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.navLinks a{
    font-size: 18px;
    font-family: 'fani';
    color: #ffffff;
}

.siteTopTxt{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding-right: 60px;
    padding-top: 100px;
}

.siteTopTxt h1{
    font-size: 120px;
    color: #ecd2ff;
    font-weight: normal;
    text-shadow: 0px 5px 0px #ac02df;
    font-family: 'fanavari';
}

.siteTopTxt p{
    font-size: 18px;
    color: #cab5ed;
    text-shadow: 2px 2px 5px #ac02df84;
    width: 90%;
    text-align: justify;
    text-justify: inter-word;
}

.siteTopTxtButton{
    width: 90%;
    height: 40px;
    border: 1px solid #9608d5;
    color: #c234ff;
    font-size: 14px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
}

.siteTopTxtButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(209, 102, 252, 0.3),
        transparent
    );
    transition: left 0.5s ease;
}

.siteTopTxtButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(249, 102, 252, 0.3);
}

.siteTopTxtButton:hover::before {
    left: 100%;
}

.aboutSec{
    width: 100%;
    height: 100vh;
    position: relative;
}

.aboutBg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.aboutMainTxt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
    margin-right: 160px;
}

.aboutMainTitle{
    font-size: 32px;
    margin-top: 180px;
}

.aboutMainDesc{
    width: 55%;
    text-align: justify;
    text-justify: inter-word;
}

.aboutBtnCont{
    width: 55%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutBtnSingle{
    width: 46%;
    height: 50px;
    text-align: center;
    background-color: #9608d5;
    color: #ffffff;
    border-radius: 15px;
    transition: all 250ms ease-in-out;
}

.aboutBtnSingle.outline{
    background-color: transparent;
    border: 1px solid #9608d5;
    color: #9608d5;
}

.aboutBtnSingle:hover{
    transform: translateY(-3px);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.khadamatSec{
    width: 100%;
    height: 100vh;
    padding: 25px;
}

.khadamtSectitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.khadamatSecTitleMain{
    font-size: 24px;
}

.khadamatSecSeprator{
    width: 100%;
    height: 1px;
    background-color: #c8c8c8;
}

.khadamntMaincard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.khadamatMainCardSingle{
    width: calc(100% / 4.2);
    height: 77vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.khadamatMainCardIcon{
    width: 100%;
    height: 100%;
}

.khadamatMainCardTxt{
    width: 80%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 240px;
    text-align: center;
    color: #8d8d8d;
}

/* Footre Section */

.footerSec{
    width: 100%;
    height: 100vh;
    background-color: #2e1e43;
    position: relative;
}

.footBG{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}

.footLogo{
    width: 250px;
}

.footSocials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    right: 50%;
    top: 5%;
    transform: translateX(50%);
    z-index: 2;
}

.footSocialBtnCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleSocialBtn{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    background-color: #2e1e43;
}

.singleSocialBtn img{
    width: 95%;
    z-index: 4;
    border-radius: 7px;
}

.socialBtnBg{
    width: 150%;
    height: 150%;
    position: absolute;
    background-color: #9608d5;
    z-index: 3;
    top: -80px;
    left: -80px;
    transform: rotateZ(45deg);
    transition: all 500ms ease-in-out;
}

.singleSocialBtn:hover{
    .socialBtnBg{
        top: -12px;
        left: -12px;
    }
}

.footLinks{
    position: absolute;
    right: 50%;
    width: 55%;
    transform: translateX(50%);
    top: 35%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    z-index: 3;
}

.footLinksSec{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.footLinkSecTitle{
    color: #ffffff;
    font-family: 'fani';
    font-size: 20px;
}

.footLinlsSecMain{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    margin-top: 15px;
    color: #ffffff;
}

.footLinlsSecMain a{
    color: #ffffff;
}

.footBanner{
    position: absolute;
    z-index: 3;
    width: 55%;
    height: 80px;
    background-image: url(../img/footBanner.jpg);
    background-size: cover;
    right: 50%;
    transform: translateX(50%);
    top: 67%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.footBannerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

.footBannerForm input{
    height: 30px;
    border: none;
    font-family: 'shabnam';
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    width: 386px;
    padding-right: 15px;
}

.footBannerForm button{
    height: 30px;
    background-color: #2e1e43;
    color: #ffffff;
    width: 163px;
    border-radius: 10px 0 0 10px;
}

.footerNamads{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    position: absolute;
    z-index: 3;
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
}

.singleFootNamad{
    width: 120px;
}

.singleFootNamad img{
    width: 100%;
    border-radius: 25px;
}

.footerNamadCont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footerLocPhone{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    margin-right: 15px;
    font-size: 18px;
}